<nav>
    <ul>
        <%
        var groups = ['Getting started', 'Features', 'API'];
        var pageGroups = site.pages.reduce(function (memo, p) {
            var key = p.group;
            (memo[key] = memo[key] || []).push(p);
            return memo;
        }, {});

        for (var i = 0; i < groups.length; i++) {
            var group = groups[i];

                if (pageGroups.hasOwnProperty(group)) {
        %>
                    <li><h3><%- group %></h3></li>
        <%
                    var pages = 
                        pageGroups[group]
                            .filter(function(page) { 
                                return page.order >= 0; 
                            });

                    pages.sort(function (a, b) {
                        return a.order - b.order;
                    });
                    var pattern = new RegExp(/\s##\s[A-Z,a-z,0-9, ,\-,&,%,$,\[,\],\.]+/, 'g');
                    for (var j = 0; j < pages.length; j++) {
                        var p = pages[j];
                        var tags = p.raw.match(pattern);
                        if (tags) {
                            for (var k = 0; k < tags.length; k++){
                                tags[k] = tags[k].replace(/\s##\s\[?|\]?/g, '');
                            }
                    }
        %>
                            <li  data-tag="<%- tags %>" class="<%- page.title === p.title ? 'active-topic' : '' %> ">
        <%     
                            if (page.title === p.title) {
        %>
                            <span><%- p.title %></span>
        <%
                            } else {
        %>
                            <a class="title" href="<%- url_for(p.path) %>"><%- p.title %></a>
        <%
                            }
        %>
                        </li>
        <%
                    }
                }
            }
        %>

    </ul>
</nav>