<nav>
    <ul>
        <%
        var groups = ['Getting started', 'Features', 'API'];
        var pageGroups = site.pages.reduce(function (memo, p) {
            var key = p.group;
            (memo[key] = memo[key] || []).push(p);
            return memo;
        }, {});

        for (var i = 0; i < groups.length; i++) {
            var group = groups[i];

                if (pageGroups.hasOwnProperty(group)) {
        %>
                    <li><h3><%- group %></h3></li>
        <%
                    var pages = 
                        pageGroups[group]
                            .filter(function(page) { 
                                return page.order >= 0; 
                            });

                    pages.sort(function (a, b) {
                        return a.order - b.order;
                    });
                    const pattern = new RegExp(/^#+.*/, 'mg');
                    for (let j = 0; j < pages.length; j++) {
                        const p = pages[j];
                        const tags = (p.raw.match(pattern) || []).map(tag => {
                            return tag.replace(/^#+ |[\[?|\]?]/mg, '');
                        });
        %>
                            <li data-tag="<%- tags %>" class="<%- page.title === p.title ? 'active-topic' : '' %> ">
        <%     
                            if (page.title === p.title) {
        %>
                            <span><%- p.title %></span>
        <%
                            } else {
        %>
                            <a class="title" href="<%- url_for(p.path) %>"><%- p.title %></a>
        <%
                            }
        %>
                        </li>
        <%
                    }
                }
            }
        %>

    </ul>
</nav>