<nav>
    <ul>
        <%
        var groups = ['Getting started', 'API', 'Features'];
        var pageGroups = site.pages.reduce(function (memo, p) {
            var key = p.group;
            (memo[key] = memo[key] || []).push(p);
            return memo;
        }, {});

        for (var i = 0; i < groups.length; i++) {
            var group = groups[i];

        if (pageGroups.hasOwnProperty(group)) {
        %>
        <li><h3><%- group %></h3></li>
        <%
            var pages = pageGroups[group];
            pages.sort(function (a, b) {
                return a.order - b.order;
            });

            for (var i = 0; i < pages.length; i++) {
                var p = pages[i];
        %>
        <li class="<%- page.title === p.title ? 'current' : '' %> ">
            <%
            if (page.title === p.title){
            %>
            <span><%- p.title %></span>
            <%
            } else {
            %>
            <a href="<%- url_for(p.path) %>"><%- p.title %></a>
            <%
            }
            %>
        </li>
        <%
        }}}
        %>

    </ul>
</nav>
