<div class="get-started">
    <h1>qgrid</h1>
    <h2>Fast and flexible data table solution. <br> Start with your ecosystem.</h2>
    <a href="<%- url_for('guide/introduction.html') %>" class="angular-js--big"></a>
    <a href="<%- url_for('guide/introduction.html') %>" class="angular--big"></a>
</div>
<div class="example">
    <div class="jsfiddle-embed">
        <script async src="//jsfiddle.net/qgrid/cv4ohzpw/embed/result,html,js/"></script>
    </div>
</div>
<div class="feature-list">
    <div class="feature">
        Considered Styles
    </div>
    <div class="feature">
        Fully Customizable
    </div>
    <div class="feature">
        Clear Javascript
    </div>
    <div class="feature">
        Virtualization everywhere
    </div>
</div>
<div class="go-to">
    <a href="<%- url_for('guide/install.html') %>">How to Install?</a>
    <a href="<%- url_for('guide/introduction.html') %>">Feauters and Examples</a>
    <a href="<%- url_for('api/introduction.html') %>">API</a>
</div>
