<div class="get-started">
    <div class="qgrid-logo"></div>
    <h2>Fast and flexible data table solution.</h2>
    <h1>Select version for your ecosystem.</h1>
    <ul class="frameworks">
        <li class="active">
            <a href="<%- url_for('guide/introduction.html') %>">
                <span class="angular-js"></span>
                <span class="text">AngularJS</span>
            </a>
        </li>
        <li class="ready">
            <a href="<%- url_for('guide/introduction.html') %>">
                <span class="angular"></span>
                <span class="text">Angular 2+</span>
            </a>
        </li>
        <li>
            <span class="react"></span>
            <span class="text">In Development</span>
        </li>
        <li>
            <span class="vue"></span>
            <span class="text">In Development</span>
        </li>
        <li>
            <span class="backbone"></span>
            <span class="text">In Development</span>
        </li>

    </ul>
</div>
<div class="example">
    <div class="jsfiddle-embed">
        <script async src="//jsfiddle.net/qgrid/cv4ohzpw/embed/result,html,js/?accentColor=2F80ED"></script>
    </div>
</div>
<div class="feature-list">
    <div class="feature">
        Considered Styles
    </div>
    <div class="feature">
        Fully Customizable
    </div>
    <div class="feature">
        Clear Javascript
    </div>
    <div class="feature">
        Virtualization everywhere
    </div>
</div>
<div class="go-to">
    <a href="<%- url_for('guide/install.html') %>">How to Install?</a>
    <a href="<%- url_for('guide/introduction.html') %>">Features and Examples</a>
    <a href="<%- url_for('api/introduction.html') %>">API</a>
</div>
