<section class="get-started">
	<div class="qgrid-logo"></div>
	<h1>Fast and flexible data table solution.</h1>
	<div>
		<ul class="frameworks">
			<li class="ready">
				<a href="<%- url_for('guide/highlights.html') %>" target="_blank">
					<span class="documents"></span>
					<label>Documentation</label>
				</a>
			</li>
			<li class="ready">
				<a href="<%- url_for('guide/highlights.html') %>">
					<span class="examples"></span>
					<label>Examples</label>
				</a>
			</li>
			<li>
				<span class="github"></span>
				<label>Github</label>
			</li>
		</ul>
	</div>
	<div class="example">
		<%- docEditor(["github/qgrid/ng2-example/tree/live-data-basic/latest"]) -%>
	</div>
</section>

<section class="news">
	<div class="container">
		<div class="news-heading">
			<h2 class="news-heading__header2">Latest Posts. Stay tuned!</h2>
		</div>
		<div class="news-wrapper">
			<article class="news-block">
				<div class="news-block__img">
					<img src="../assets/images/qgrid_news1.png" alt="">
				</div>
				<div class="news-block-text">
					<p class="news-block-text__date">Dec 12, 2020</p>
					<h3 class="news-block-text__header3">Amazing updates in GQ! What was changed?</h3>
					<p class="news-block-text__descr">What a wonderful lorem ipsum dolor sit amet, consectetur adipiscing
						elit, sed do eiusmod tempor
						incididunt ut labore consectetur adipiscing elit, sed do.....</p>
				</div>
			</article>
			<article class="news-block">
				<div class="news-block__img">
					<img src="../assets/images/qgrid_news2.png" alt="">
				</div>
				<div class="news-block-text">
					<p class="news-block-text__date">Dec 12, 2020</p>
					<h3 class="news-block-text__header3">Amazing updates in GQ! What was changed?</h3>
					<p class="news-block-text__descr">What a wonderful lorem ipsum dolor sit amet, consectetur adipiscing
						elit, sed do eiusmod tempor
						incididunt ut labore consectetur adipiscing elit, sed do.....</p>
				</div>
			</article>
			<article class="news-block">
				<div class="news-block__img">
					<img src="../assets/images/qgrid_news3.png" alt="">
				</div>
				<div class="news-block-text">
					<p class="news-block-text__date">Dec 12, 2020</p>
					<h3 class="news-block-text__header3">Amazing updates in GQ! What was changed?</h3>
					<p class="news-block-text__descr">What a wonderful lorem ipsum dolor sit amet, consectetur adipiscing
						elit, sed do eiusmod tempor
						incididunt ut labore consectetur adipiscing elit, sed do.....</p>
				</div>
			</article>
		</div>
		<div class="news-button">
			<a href="<%- url_for('#') %>" class="button news__btn">See all news</a>
		</div>
	</div>
</section>

<section class="reasons">
	<div class="container">
		<div class="reasons-heading">
			<h2 class="reasons-heading__header2">Why QGrid?</h2>
		</div>
		<div class="reasons-wrapper">
			<div class="reasons-block">
				<div class="reasons-block__img">
					<span class="fastflexible"></span>
				</div>
				<div class="reasons-block-text">
					<h3 class="reasons-block-text__header3">Fast and flexible solution</h3>
					<p class="reasons-block-text__descr">Posibility to make any css customizationin easy format</p>
				</div>
			</div>
			<div class="reasons-block">
				<div class="reasons-block__img">
					<span class="cleartypescripts"></span>
				</div>
				<div class="reasons-block-text">
					<h3 class="reasons-block-text__header3">Clear Typescript</h3>
					<p class="reasons-block-text__descr">No html templates in javascript</p>
				</div>
			</div>
		</div>
		<div class="reasons-wrapper">
			<div class="reasons-block">
				<div class="reasons-block__img">
					<span class="fullycustomable"></span>
				</div>
				<div class="reasons-block-text">
					<h3 class="reasons-block-text__header3">Fully Customizable</h3>
					<p class="reasons-block-text__descr">Header, cells, rows, footer,
						pagination are templatable</p>
				</div>
			</div>
			<div class="reasons-block">
				<div class="reasons-block__img">
					<span class="performance"></span>
				</div>
				<div class="reasons-block-text">
					<h3 class="reasons-block-text__header3">Perfomance</h3>
					<p class="reasons-block-text__descr">Virtualization and interaction
						strategies for the speed</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pricing">
	<div class="container">
		<div class="pricing-heading">
			<h2 class="pricing-heading__header2">Choose your price</h2>
		</div>
		<div class="pricing-wrapper">
			<div class="pricing-block">
				<span class="pricing-block__rate">Support</span>
				<h4 class="pricing-block__header4"><sup>$</sup><span
						class="pricing-block-header4__price">9</span><sub>/mo</sub></h4>
				<p class="pricing-block__text">You can maintain our project and team. Help us to grow and improve our
					product</p>
				<a href="<%- url_for('#') %>" class="button pricing-block__btn">Become a maintainer</a>
			</div>
			<div class="pricing-block">
				<span class="pricing-block__rate">Support</span>
				<h4 class="pricing-block__header4"><sup>$</sup><span
						class="pricing-block-header4__price">9</span><sub>/mo</sub></h4>
				<p class="pricing-block__text">You can maintain our project and team. Help us to grow and improve our
					product</p>
				<a href="<%- url_for('#') %>" class="button pricing-block__btn">Become a maintainer</a>
			</div>
			<div class="pricing-block">
				<span class="pricing-block__rate">Support</span>
				<h4 class="pricing-block__header4"><sup>$</sup><span
						class="pricing-block-header4__price">9</span><sub>/mo</sub></h4>
				<p class="pricing-block__text">You can maintain our project and team. Help us to grow and improve our
					product</p>
				<a href="<%- url_for('#') %>" class="button pricing-block__btn">Become a maintainer</a>
			</div>
		</div>
	</div>
</section>

<!-- <div class="row align-items-center">
	<div class="col text-center">
		<a href="<%- url_for('#') %>" class="button news__btn">See all news</a>
	</div>
</div> -->
