<% var isIndex = page.path === 'index.html' %>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <title><%- page.title ? page.title + ' — ' : '' %>qgrid</title>
    <meta charset="utf-8">
    <meta name="description" content="<%- theme.site_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>qgrid">
    <meta property="og:description" content="<%- theme.site_description %>">
    <meta property="og:image" content="https://<%- theme.root_domain %>/<%- url_for("/images/logo.png") %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %>qgrid">
    <meta name="twitter:description" content="<%- theme.site_description %>">
    <meta name="twitter:image" content="https://<%- theme.root_domain %>/assets/logo.png">

    <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for("/assets/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for("/assets/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for("/assets/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for("/assets/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for("/assets/apple-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for("/assets/apple-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for("/assets/apple-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for("/assets/apple-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("/assets/favicons/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="192x192" href="<%- url_for("/assets/favicons/android-chrome-192x192.png") %>">
    <link rel="icon" type="image/png" sizes="384x384" href="<%- url_for("/assets/favicons/android-chrome-384x384.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("/assets/favicons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for("/assets/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("/assets/favicons/favicon-16x16.png") %>">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <link rel="icon" href="<%- url_for("/assets/logo.png") %>" type="image/png">

    <meta name="msapplication-TileColor" content="#2f80ed">
    <meta name="theme-color" content="#2f80ed">

    <meta name="msapplication-config" content="browserconfig.xml">
    <link rel="manifest" href="/manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">

    <!-- main page styles -->
    <%- css(isIndex ? 'css/index' : 'css/page') %>

    <!-- this needs to be loaded before guide's inline scripts -->
    <script src="<%- url_for("/js/menu.js") %>"></script>
    <script>window.PAGE_TYPE = "<%- page.type %>"</script>

  </head>

  <body class="<%- isIndex ? 'index' : 'pages' %>">

    <header>
        <%- partial('partials/header') %>        
    </header>

    <nav>
        <%- partial('partials/nav') %>  
    </nav>

    <main>
      <%- body %>
    </main>

    <% if (isIndex) { %>
    <footer>
      <%- partial('partials/footer') %>        
    </footer>
    <% } %>

  </body>

  </html>