<% var isIndex = page.path === 'index.html' %>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <title>
      <%- page.title ? page.title + ' — ' : '' %>qgrid</title>
    <meta charset="utf-8">
    <meta name="description" content="<%- theme.site_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> \
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>qgrid">
    <meta property="og:description" content="<%- theme.site_description %>">
    <meta property="og:image" content="https://<%- theme.root_domain %>/<%- url_for("/images/logo.png") %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %>qgrid">
    <meta name="twitter:description" content="<%- theme.site_description %>">
    <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/logo.png">

    <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for("/icons/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for("/icons/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for("/icons/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for("/icons/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for("/icons/apple-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for("/icons/apple-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for("/icons/apple-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for("/icons/apple-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("/icons/apple-icon-180x180.png") %>">
    <link rel="icon" type="image/png" sizes="192x192" href="<%- url_for("/icons/android-icon-192x192.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("/icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for("/icons/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("/icons/favicon-16x16.png") %>">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <link rel="icon" href="<%- url_for("/images/logo.png") %>" type="image/png">

    <meta name="msapplication-TileColor" content="#4fc08d">
    <meta name="theme-color" content="#4fc08d">

    <meta name="msapplication-config" content="browserconfig.xml">
    <link rel="manifest" href="/manifest.json">

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>

    <!-- main page styles -->
    <%- css(isIndex ? 'css/index' : 'css/page') %>

    <!-- this needs to be loaded before guide's inline scripts -->
    <script src="<%- url_for("/js/menu.js") %>"></script>
    <script>window.PAGE_TYPE = "<%- page.type %>"</script>

  </head>

  <body>

    <header>
    </header>

    <nav>
    </nav>

    <main>
    </main>

    <footer>
   </footer>
  </body>

  </html>